body {

    background-color: #f2f2f2;

    font-family: Arial, sans-serif;

}

h1 {

    color: blue;

    text-align: center;

}

.external-text {

    color: purple;

    font-size: 18px;

    font-weight: bold;

}

ï¿¼Enter
